<%
var clusterTimes = 0;
var clusterIds = [];

function renderBar() {
	%>
	<div class="bar"></div>
	<%
}

function renderElement(element) {
%>
	<div class="element element--<%= element.class %>"
		style="flex: <%= element.beats %>;"
		id="<%= element.id %>">
		<%= element.beats %>
	</div>
<%
}

function renderElementTitle(element, nextElement) {
	var nextElementIsSame = element.title === nextElement.title;
	clusterIds.push(element.id);

	if (!nextElementIsSame) {
		var clusterClasses = clusterIds
			.map(function (id) {
				return 'element-title--' + id;
			})
			.join(' ');
	%>
		<div class="element-title <%= element.class %> <%= clusterClasses %>"
			style="flex: <%= clusterTimes + element.beats %>;">
			<div class="element-title__text <%= element.yOffset ? 'element-title__text--offset' : '' %>"><%- element.title
				.replace(/\$m\[([^\]]+)\]/g, '<span class="element-text--man">$1</span>')
				.replace(/\$w\[([^\]]+)\]/g, '<span class="element-text--woman">$1</span>')
				.replace(/->/g, '<br>')
			%></div>
		</div>
	<%
		clusterTimes = 0;
		clusterIds = [];
	} else {
		clusterTimes = clusterTimes + element.beats;
	}
}

function renderPart(elements) {
	clusterTimes = 0;
	clusterIds = [];
%>
<div>
	<div class="scheme-row">
	<%
		elements.forEach(function (element, index) {
			if (element.bar) {
				renderBar();
			} else {
				var nextElement = (index + 1 < elements.length) ? elements[index + 1] : {};

				renderElement(element, nextElement);
			}
		});
	%>
	</div>
	<div class="title-row">
	<%
		elements.forEach(function (element, index) {
			if (element.bar) {
				renderBar();
			} else {
				var nextElement = (index + 1 < elements.length) ? elements[index + 1] : {};

				renderElementTitle(element, nextElement);
			}
		});
	%>
	</div>
</div>
<%
}
%>

<div class="scheme">
	<%
	scheme.forEach(function (elements) {
		renderPart(elements);
	});
	%>
</div>
