<html xmlns:svg="http://www.w3.org/2000/svg">
	<head>
		<meta charset="utf-8"/>
		<meta name="description" content="Проект по визуализации хореографии аргентинских народных танцев. Argentina folk dances visualization project."/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>¡Adentro!</title>
		<link rel='icon' href='favicon.ico?2' type='image/x-icon'>
		<link rel="stylesheet" href="font.css">
		<!--[if lte IE 8]>
		<meta http-equiv="refresh" content="0; url=old_browser.html" />
		<![endif]-->

		<!--[if gt IE 8]><!-->
		<script src="styles.js"></script>
		<!--<![endif]-->
	</head>
	<body>
		<!--[if gt IE 8]><!-->
		<header class="header">
		</header>
		<main class="main">
			<div class="sidebar">
				<div class="sidebar__top">
					<div class="logo">
						<span class="menu-icon">
							<span></span>
							<span></span>
							<span></span>
						</span>
						<img src="logo.svg" class="logo-image">
					</div>
					<div class="lang-links"></div>
				</div>
				<%- include('index/menu.ejs', {menuItems}); %>
			</div>

			<div class="content">
				<div id="navigation">
				</div>

				<h1 id="danceName" class="title"></h1>

				<div>
					<%- include('index/player.ejs', {}); %>
				</div>
				<div id="musicLinks" class="music-links"></div>

				<div class="scheme-wrapper" id="schemaDiv"></div>

				<div class="content_menu" id="content_menu"></div>
				<div id="content" class="animation-wrapper"></div>
			</div>
		</main>

		<footer class="footer">
			<%- include('index/social.ejs', {}); %>
			<div class="footer__info">
				Adentro <%= version %>. Created by Sergey Sharov.
			</div>
		</footer>

		<% if (production) { %>
			<%- include('utils/sentry.ejs') %>
		<% } %>
		<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Array.prototype.includes,CustomEvent,URL" crossorigin="anonymous"></script>
		<script src="vendor.js"></script>
		<script src="main.js"></script>
		<!--<![endif]-->
		<% if (production) { %>
			<%- include('utils/yandex-metrika.ejs', {version}) %>
		<% } %>
	</body>
</html>
