<% function addLink(item) { %>
	<% if (item.scheme) { %>
		<a data-scheme="<%- item.scheme %>"><%- item.title %></a>
	<% } else { %>
		<%- item.title %>
	<% } %>
<% } %>

<% function addItems(items, level = 1) { %>
	<ul>
	<% items.forEach(item => { %>
		<li class="dance-menu__item dance-menu__item--<%= level %>" title="<%- item.titleRu %>">
			<%
				addLink(item);

				if (item.children) {
					addItems(item.children, level + 1);
				}
			%>
		</li>
	<% }); %>
	</ul>
<% } %>

<nav class="dance-menu">
	<% addItems(menuItems); %>
</nav>
